# 基于 .gitignore 生成，排除不需要拷贝到构建镜像的文件
.DS_Store
target/
.output
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
.vscode/
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/*.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
**/package-lock.json
**/yarn.loc
**/dist/
_output
logs/
**/.flattened-pom.xml
.trae
.git
.nocalhost
deploy
docs
scripts
