apiVersion: v1
kind: Service
metadata:
  labels:
    app: xuanwu-exam
  name: xuanwu-exam
  namespace: xuanwu-system
spec:
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: xuanwu-exam
  type: ClusterIP
