name: Release

on:
  push:
    branches:
      - "main"
    tags:
      - "v*"
    paths-ignore:
      - 'examples/**'
      - 'docs/**'
      - '**/*.md'
  workflow_dispatch: { }

# env:
#   # Use docker.io for Docker Hub if empty
#   REGISTRY: ''
#   REGISTRY_PREFIX: wecoding

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
#      - name: Setup Java JDK
#        uses: actions/setup-java@v4.0.0
#        with:
#          # The Java version to set up. Takes a whole or semver Java version. See examples of supported syntax in README file
#          java-version: '25'
#          distribution: 'adopt'

      - name: Setup Java JDK
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: '25'      # See 'Options' for more details
          distribution: 'graalvm' # See 'Supported distributions' for available options
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Get the version
        id: get_version
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          if [[ ${GITHUB_REF} == "refs/heads/main" ]]; then
            VERSION=latest
          fi
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          echo "GRAALVM_HOME: $GRAALVM_HOME"
          echo "JAVA_HOME: $JAVA_HOME"
          java --version
          native-image --version
          mvn -v

#      - name: Docker Login
#        # You may pin to the exact commit or the version.
#        # uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc
#        uses: docker/login-action@v2.2.0
#        with:
          # Server address of Docker registry. If not set then will default to Docker Hub
          #registry: ${{ vars.REGISTRY }}
          # Username used to log against the Docker registry
          #username: ${{ vars.DOCKER_USER }}
          # Password or personal access token used to log against the Docker registry
          #password: ${{ secrets.DOCKER_PWD }}

      - name: Build and Push Exam Image
        run: make images.push.exam VERSION="$VERSION" REGISTRY="$REGISTRY" REGISTRY_PREFIX="$REGISTRY_PREFIX" DOCKER_USER=${{ vars.DOCKER_USER }} DOCKER_PWD=${{ secrets.DOCKER_PWD }}

      - name: Build and Push Exam Native Image
        run: make images.native.push.exam VERSION="$VERSION" REGISTRY="$REGISTRY" REGISTRY_PREFIX="$REGISTRY_PREFIX" DOCKER_USER=${{ vars.DOCKER_USER }} DOCKER_PWD=${{ secrets.DOCKER_PWD }}

